     
	/*Adding style to the navbar container*/
	
    #navbar {
	  top:0;
	  width:100%
	  position: fixed;
	  height: 56px;
	  padding: 0 16px 0 16px;
	  align-items: center;
	  justify-content: justify-content;
    }

    .navstyle {
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	}
	
	/*Styling left side of the navigation bar*/

    #left{
	  margin-left: 5px;
	  background-color: transparent;	 
    }
	
    #menu{
	  background-color: transparent;
	  border: none;
	  height: 29px;
	}
	
	#menucont{
	  height: 36px;
	  margin-right: 15px;
	 
	}
	
    .menu-bars {
      width: 20px;
      height: 2px;
      background-color: black;
      margin: 5px 0;
    }
	
	#logo{
	  margin-left: 5px;
	  
	}
	
	
	#logo .fa-youtube{
	  height: 36px;
	  width: 36px;
	  color: red;
	}
	
	#youtube{
	  font-weight: 600;
	  font-size:  28px;
	  font-family: Arial;
	  margin-left: 2px;
	  letter-spacing: -1px;
	}

	
	/*Styling center of navigation bar*/
	
    #center{
	  height: 36px;
	  padding: 0;
	  align-items: center;
      background-color: transparent;
    }
	
	#searchcont{
	  margin-left: 40px;
	  border-color: #cccccc;
	  border-radius: 2%;
 	  background-color: transparent;
	  border-style: solid;
	  border-width: 1px;
	}
	
	#searchbox{
   	  max-width: 728px;
	  height: 32px;
	  width: 575px;
	  background-color: transparent;
	  	 border-right: 1px solid #cccccc ;
		 border-top: 0;
		 border-left: 0;
		 border-bottom: 0;

	}
	
	#searchbutton{
	  width: 65px;
	  height: 32px;
	  cursor: pointer;
	  background-color: #f8f8f8;
	  border: 0;
	}
	
	
	/*Styling the right side of the navbar*/
	
	 #right{
	  height: 36px;
	  min-width: 225px;
    }
	
	#icons{
	width: 25%;
	}
	
	#userimg{
	  width: 40px;
	  height: 40px;
	  border-radius: 50%;
	  margin-top: auto;
	  margin-bottom:auto;
	}


