     
	/*Adding style to the container*/
	

	
	#navbar{
	  width: 100%;
	  
    }
	
	.navstyle{
	  display: inline-block;
	  margin-top: auto;
	  margin-bottom: auto;
	}

	#container{
		width: 100%;
	}
	
	#left{
	  width: 20em;
    }
	
	#menu{
      width: 30px;
	  height: 30px;
	}
	
	#logo{
	}
	
    .fa-youtube {
	  color: red;  
	}
	
	#searchbox{
	margin-left: auto;
	margin-right: auto;
	width: 80em;
	height: 32px;
	}
		
    
	#center{
      background-color: transparent;
	  width: 80em;
	  margin-left: auto;
	  margin-right: auto;
    }

    #right{
      background-color: transparent;
	  width: 12em;
    }
	
	#userimg{
	  width: 40px;
	  height: 40px;
	  border-radius: 50%;
	  margin-top: auto;
	  margin-bottom:auto;
	}
	
	#searchbutton{
	  width: 32px;
	  height: 32px;
	}


