     
	/*Adding style to the navbar container*/
	
		font-size: small;
		margin-bottom: 6px;
	  }
  
	  .thumbnails-text-style {
		font-family: Arial;
		font-size: 12.6px;
		font-weight: 545;
		margin-bottom: 4px;
		color: rgb(96, 96, 96);
	  }
	/*Styling the main block (body)*/
	body {
	  margin:0;
	  background-color: #f9f9f9;
	  width: 100%;
	  height: 1000px;
	}



